.header__karusels_discription_link {
    color: #2B2E2A;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;      
    text-decoration-color: #B8A46A;
    text-underline-offset: 5px;
    margin: 32px 0 0 0;
}
@media screen and (min-width: 1024px) {
  .header__karusels_discription_link {
    font-size: 20px;
  }
}