.header__karusels_discription_text {
    color: #2B2E2A80;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 3vw;
}
@media screen and (min-width: 1024px) {
  .header__karusels_discription_text {
    font-size: 16px;
  }
}