.header__menu_links {     
    display: none;      
}

@media screen and (min-width: 744px) {
  .header__menu_links {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .header__menu_links {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
  }
}