.advantages__heard_title {
    font-size: 32px;
    max-width: 278px;
    margin: auto;
    padding: 0;
    color: #2F4F3E;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

@media screen and (min-width: 1920px) {
  .advantages__heard_title {
  font-size: 40px;
  }
}