.advantages__flex_grid-el {
    margin: 0; 
  height: 100%;   
  display: grid;
  grid-template-columns: 50px 5fr;
  grid-template-rows: 1fr;
  gap: 8px 16px;
  justify-content: left;
  align-items: center;
}

@media screen and (min-width: 744px) {
  .advantages__flex_grid-el {
    margin: 0;    
    max-width: 40%;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__flex_grid-el {
    margin: 0;  
       max-width: 25%;
  }
}
