.mission__grid-cont {
      margin: 0; 
  height: 100%;   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 744px));
  /*grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr; */
  justify-content: left;
  align-items: center;
}

@media screen and (min-width: 744px) {
  .mission__grid-cont {
grid-template-columns: repeat(auto-fit, minmax(744px, 1920px));
  }
}
@media screen and (min-width: 1920px) {
  .mission__grid-cont {
    grid-template-columns: 0.7fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  }
}

.mission__grid-cont img {
    width: 100%;
    min-height: 52vw;
    max-height: 100vw;
}
@media screen and (min-width: 744px) {
  .mission__grid-cont img {
     min-height: 45vw;
        max-height: 47vw;
  }
}
@media screen and (min-width: 1920px) {
  .mission__grid-cont img {
    grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;     
        height: 460px;
        min-height: 460px;
        max-height: 460px; 
        object-fit: cover;
        object-position: bottom;  
  }
}

.mission__grid-cont p {
color: #6B8F71;
font-size: 24px;
margin: 64px 16px 0 16px;
padding: 0;
}

@media screen and (min-width: 744px) {
  .mission__grid-cont p {
     max-width: 1000px;        
  }
}

@media screen and (min-width: 1920px) {
  .mission__grid-cont p {     
        max-width: 600px;
        align-self: flex-start;
        margin: 0;
  }
}