.popular {
  margin: 80px auto 0 auto; 
  height: 100%;  
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  justify-content: space-between;  
}

@media screen and (min-width: 744px) {
  .popular {
    margin: 80px auto 0 auto;
   
  }
}
@media screen and (min-width: 1920px) {
  .popular {
    margin: 144px auto 0 auto;
   max-width: 1920px;
  }
}