.popular__card-grid {
 
  display: grid;
  grid-template-columns: repeat(1, 370px);
  grid-template-rows: repeat(4, 556px);
  gap: 16px;
  width: 100%; 
  max-height: 2248px;
  justify-content: center;
  grid-auto-rows: 0;
}

@media screen and (min-width: 744px) {
  .popular__card-grid {
  
    grid-template-columns: repeat(2, 352px);
      grid-template-rows: repeat(2, 556px);
      gap: 8px;
      max-height: 1120px;
      grid-auto-rows: 0;
  }
}
@media screen and (min-width: 1920px) {
  .popular__card-grid {
   
    grid-template-columns: repeat(5, 371px);
    grid-template-rows: repeat(1, 556px);
      gap: 8px;
      max-height: 556px;
      
  }
}