.popular__card {
    width: 100%;
  height: 100%;  
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  justify-content: space-between;
  margin: 0 auto;
}
.card_display {
    display: none;
}
@media screen and (min-width: 744px) {
  .card_display {
    display: none;
}
}
@media screen and (min-width: 1920px) {
  .card_display {
    display: flex;
}
}