.owl-carousel {
  margin-top: 0;
  padding: 0;  
  min-width: 90vw;
}
@media screen and (min-width: 744px) {
  .owl-carousel { 
  min-width: 40vw;
  }
}
@media screen and (min-width: 1920px) {
  .owl-carousel { 
  min-width: 40vw;
  }
}

