.owl-carousel {
  margin-top: 0;
  padding: 0;  
  min-width: 100vw;
}
@media screen and (min-width: 744px) {
  .owl-carousel { 
  min-width: 50vw;
  }
}
@media screen and (min-width: 1920px) {
  .owl-carousel { 
  min-width: 50vw;
  }
}
.owl-stage {
  
}
