.preview__karusels_discription_title {
    color: #2B2E2A;
    font-size: 2vw;
    font-weight: 400;
    margin: 12vw 0 0 6vw;
}

@media screen and (min-width: 744px) {
  .preview__karusels_discription_title {    
    margin: 5vw 0 0 5vw;
    font-size: 1vw;
  }
}

@media screen and (min-width: 1920px) {
  .preview__karusels_discription_title {
    font-size: 1.01vw;
    margin: 5vw 0 0 5vw;
  }
}