.popular__header {
 width: 95%;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  justify-content: space-between;
   margin: 0 auto;
}

@media screen and (min-width: 744px) {
  .popular__header {
    display: flex;
  flex-direction: row;
  align-items: stretch;  
  justify-content: space-between;
  
   margin: 0 auto 26px auto;
}
}

